# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 937c5adb9f3324cf85c8cca0a40c1cc91cd64f0613b1d99657acb6a0167d9ba1b3a9cd3b2c31339b9a1d0934874a80b205a603181b2e83305e7421c0b516f327
  github_client_id: fill_me
  github_secret: fill_me

test:
  secret_key_base: db6ad10708319bbc5c55ce27c97739a1d809201e1c15d96b82b980e8f2c4acdb7a4475ab1bd56569f4265ab9ddd48d48dd3c9500983cf7bcf170740aad5ae799
